@import "_variables";
// @import "reset";

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  background-color: $bg;
  display: grid;
  grid-template-columns: 1.3fr 2fr 1.3fr;
  grid-template-rows: 0.85fr 5fr 0.85fr;
  gap: 1px;
  & > * {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bg;
    font-size: 28px;
    text-transform: uppercase;
  }
  .menu {
    grid-column-start: -2;
  }
  .center-image {
    grid-column: 2 / -2;
    grid-row: 2 / -2;
    background-image: url("https://source.unsplash.com/random/");
    background-size: cover;
    background-position: center;
  }
  .number__row {
    background-color: $bg;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
    height: 100%;
    align-items: stretch;
    .number {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: color 0.3s linear, background-color 0.3s linear;
      &:hover {
        background-color: $bg;
        color: white;
      }
    }
  }
  .scrolling__text {
    grid-column-start: 2;
    white-space: nowrap;
    overflow: hidden;
    span {
      animation: scrollText 16s linear infinite forwards;
    }
  }
}

@keyframes scrollText {
  0% {
    transform: translateX(-300px);
  }
  50% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-300px);
  }
}
